$slim-line-color: #8b8b8b;
$background-black-transparent: rgba($color: #000000, $alpha: 0.6);
$dark-transparent-background: rgba($color: #000000, $alpha: 0.8);
$main-red: #EE2535;
$main-orange: #DD6003;
$main-yellow: #D3AA00;
$main-blue: #165E7A;
$main-green: #1DAA0E;
$transparent-blue: rgba($color: #165E7A, $alpha: 0.8);